<div class="body bg-all">
    <div class="navbar w-100 bg-success" style="height: 70px;">
        Navbar
    </div>
    <div class="title h3 m-3">Dashboard</div>
    <div class="row col-md-12">
        <div class="col-md-6">
            <app-pie [dataPadre]="dataPie"></app-pie>
        </div>
        <div class="col-md-6">
            <app-bar [dataPadre]="dataBar"></app-bar>
        </div>
        <div class="col-md-6">
            <app-bar-h [dataPadre]="dataBarH"></app-bar-h>
        </div>
    </div>
</div>